{% extends 'base.html' %}


{% block title %}
    Sign up to lead a hike!
    You must pay CU Hiking Club semester dues to be eligible to lead and attend hikes.
    We can't guarantee all hike requests will be approved, but all submissions are welcome!
{% endblock title %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
            <ul>
                {% for error in field.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
            </ul>

            </p>
        {% endfor %}

        <ul>
            {% for error in field.errors %}
                <li style="color: red">{{ error }}</li>
            {% endfor %}
        </ul>


        <div>
            <input type="submit"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>

{% endblock %}


{# Load React Script #}
{% block extrascripts %}
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'blog/hike_register' %}
{% endblock %}